@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  scroll-behavior: smooth;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Acme", cursive;
  background: #f3a556;
  color: darkred;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #c9351d;
}

header .buy {
  min-width: 20vw;
  float: right;
  text-align: right;
  padding-right: 3vw;
}
header .img {
  min-width: 20vw;
  float: left;
  padding-left: 3vw;
}
.page-items {
  display: flex;
  min-width: calc(54vw - 20px);
  justify-content: space-evenly;
}
header img,
header a {
  margin-block: 20px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  font-size: larger;
}
.home {
  height: calc(100vh - 70px);
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#00000034, #0000006f), url("assets/bg.jpg");
  background-size: cover;
  background-position: center bottom;
}
.home img {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  height: 50vh;
  filter: brightness(1.05) contrast(1.05) drop-shadow(0 0 10px black);
}
.home .container {
  width: 50%;
  position: absolute;
  left: 1%;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0 0 10px black;
  color: white;
  background: #286d0065;
  border: solid white 2px;
  border-radius: 10px;
}
b {
  color: rgb(255, 1, 1);
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  margin-inline: 2px;
}
.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.btns div {
  flex: 0.7;
  padding: 10px;
  text-align: center;
  font-size: larger;
  background: #3498db;
  border-radius: 10px;
  border: solid 2px rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.05s;
}
.btns div:hover {
  background: rgb(255, 171, 157);
}

.spacing {
  background: rgb(250, 77, 77);
  position: relative;
  width: 100%;
  height: 50px;
  background-image: url(assets/logo.png);
  background-size: auto 100%;
  animation: roll-bill 10s infinite linear;
}
.spacing::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 66, 0, 0.2);
}
@keyframes roll-bill {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}
.about {
  padding-block: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about .container {
  width: 90%;
  height: 50vh;
  border: solid 10px rgb(209, 255, 209);
  position: relative;
  border-radius: 20px;
  background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90));
}
.about .container img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 110%;
  z-index: 2;
  border-bottom-right-radius: 10px;
}
.about .container .txt {
  width: 60%;
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
}
.roadmap {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  zoom: 0.85;
}
.roadmap h2 {
  width: 80%;
  text-align: center;
  position: relative;
  top: 4rem;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  margin: 50px;
}
.roadmap_card {
  background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90));

  width: calc(90% / 3 - 4%);
  height: 500px;
  border: solid 10px rgb(209, 255, 209);
  display: block;
  text-align: center;
  background-position: center;
  background-blend-mode: multiply;
  border-radius: 10px;
  margin: 30px;
}
.roadmap_card h2 {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: oblique;
}
.roadmap_card div {
  margin-top: 20%;
  color: rgb(0, 0, 0);
  padding: 10px;
  padding-inline: 40px;
}
.roadmap_card i {
  padding-block: 5px;
  text-align: left;
  width: 100%;
  font-size: 1.3rem;
  line-height: 3ch;
  float: left;
}
.roadmap_card i::before {
  content: "●";
  font-style: normal;
  font-size: 1rem;
  margin-inline: 5px;
  text-shadow: 0 0 20px white;
}
.howtobuy {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7%;
}
.howtobuy .container {
  width: 88%;
  height: 100%;
}
.howtobuy .container .icon {
  height: 150px;
  width: 150px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0 0 30px rgba(236, 236, 236, 0.5));
}
._1 {
  background: white url("assets/metamask-icon.png");
}
._2 {
  background: white url("assets/eth.png");
}
._3 {
  background: white url("assets/uniswap.png");
}
._4 {
  background: white url("assets/swap-for-noface.png");
}
.howtobuy .container .container_ {
  margin-block: 30px;
  width: 100%;
  height: max-content;
  display: flex;
  background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90));
  border: solid 7px white;
  border-radius: 10px;
  height: 150px;
}
.howtobuy .container h2 {
  margin: 0;
  height: 1ch;
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding: 2%;
}
.howtobuy .container p {
  color: rgb(0, 0, 0);
  padding: 2%;
  font-size: 20px;
}
#step1,
#step2,
#step3,
#step4 {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-left: solid 2px rgba(255, 255, 255, 0.103);
}
.contact {
  background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90));
  padding-block: 50px;
  border-top: solid 10px white;
  color: black;
}
.contact .txt {
  color: darkred;
  position: absolute;
  right: 0;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-left: dashed 2px rgba(255, 255, 255, 0.26);
  margin-top: 35px;
  font-size: 25px;
}
.txt p {
  padding: 30px;
}
.container__ {
  height: min-content;
  padding-block: 10px;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}
.btn {
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 300px;
  height: 90px;
  padding-inline: 30px;
  padding-block: 15px;
  background: rgba(226, 11, 11, 0.712);
  border: solid 2px rgb(245, 245, 245);
  font-size: 20px;
  transition: 0.3s;
  font-weight: bold;
  font-family: "Acme";
}
.btn:hover {
  font-size: 25px;
  box-shadow: inset 0 0 50px 1px rgba(80, 19, 1, 0.863);
}
.btn i {
  padding-right: 10px;
}
@media screen and (max-width: 1200px) {
  .contact {
    zoom: 0.8;
  }
  .contact .txt {
    position: relative;
    border-left: none;
    width: 100%;
    font-size: 20px;
  }
  .container__ {
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-left: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .tokenomics .container {
    width: 90%;
    zoom: 0.7;
  }
  .roadmap h2 {
    display: none;
    font-size: 27px;
  }
  .roadmap_card {
    width: 90%;
    background-repeat: no-repeat;
    height: max-content;
    padding: 0px;
    padding-bottom: 40px;
    margin-inline: 0;
  }
  .roadmap_card h2 {
    display: inherit;
  }
  .roadmap_card i {
    font-size: 20px;
    line-height: inherit;
  }
  .home {
    height: 100vh;
  }
  .home img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    height: initial;
    width: 60%;
  }
  .home .container {
    width: 90%;
    transform: translateX(-50%);
    left: 50%;
    top: 10%;
  }
  .about .container {
    width: 90%;
    height: 50vh;
    border: solid 10px rgb(209, 255, 209);
    position: relative;
    border-radius: 20px;
    background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90));
  }
  .about .container .txt {
    width: inherit !important;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    left: 1% !important;
    top: 0% !important;
    transform: none !important;
  }
  .about .container img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    z-index: 2;
    border-bottom-right-radius: 10px;
  }
  .howtobuy {
    height: max-content;
    margin-bottom: 30%;
  }
  .howtobuy .container .container_ {
    width: 90%;
  }
  .howtobuy .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
  .howtobuy .container .container_ h2 {
    height: max-content;
    font-size: 20px;
  }
  .howtobuy .container .container_ p {
    font-size: 15px;
  }

  #step1,
  #step2,
  #step3,
  #step4 {
    border-left: none;
    height: auto;
  }
}
@media only screen and (max-width: 756px) {
  .home .container {
    zoom: 0.7;
  }
  .home h2 {
    font-size: large;
    text-align: center;
  }
  .home img {
    transform: translateY(20%) translateX(-50%);
  }
  header {
    gap: 50px;
  }
  header .page-items {
    gap: 20px;
    width: 65vw;
  }
  .about .container img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40%;
    z-index: 2;
    border-bottom-right-radius: 10px;
  }
  header .buy,
  header .img {
    min-width: 10vw;
  }
  header {
    zoom: 0.7;
  }
  #step1,
  #step2,
  #step3,
  #step4 {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: solid 2px rgba(255, 255, 255, 0.103);
  }
  .howtobuy .container p {
    padding: 0;
  }
  .about .container .txt {
    font-size: 13px;
    position: absolute;
  }
}
.title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: rgb(248, 17, 0);
  text-shadow: -1px -1px 0 darkred, 0 -1px 0 darkred, 1px -1px 0 darkred,
    1px 0 0 darkred, 1px 1px 0 darkred, 0 1px 0 darkred, -1px 1px 0 darkred,
    -1px 0 0 darkred;
}
.tokenomics {
  position: relative;
}
.tokenomics * {
  font-weight: normal !important;
}
.tokenomics .container {
  max-width: 80%;
  margin: 0 auto;
  padding: 50px 5%;
  background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90));
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid 7px white;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  color: #000000;
  margin-bottom: 10px;
  font-size: 30px;
}

.section p {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.5;
  color: darkred;
  font-size: 21px;
}

.tokenomics-table {
  width: 100%;
  border-collapse: collapse;
}

.tokenomics-table th,
.tokenomics-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tokenomics-table th {
  background: rgb(201, 60, 60);
  color: darkred;
}

.tokenomics-table td {
  color: darkred;
}

.tokenomics-table td:first-child {
  font-weight: bold;
}

/*******modified css*******/
header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #3498db;
}

.spacing {
  background: #61bfc9;
  position: relative;
  width: 100%;
  height: 50px;
  background-image: url(assets/froggy.png);
  background-size: auto 100%;
  animation: roll-bill 10s infinite linear;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #3498db;
  text-shadow: -1px -1px 0 darkred, 0 -1px 0 darkred, 1px -1px 0 darkred,
    1px 0 0 darkred, 1px 1px 0 darkred, 0 1px 0 darkred, -1px 1px 0 darkred,
    -1px 0 0 darkred;
}

.container {
  width: 90%;
  height: 50vh;
  border: 10px solid rgb(209, 255, 209);
  position: relative;
  border-radius: 20px;
  background: #3498db;
  color: #fff !important;
  background-image: none;
  /* background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90)); */
}
.container {
  max-width: 80%;
  margin: 0px auto;
  padding: 50px 5%;
  background: #3498db !important;
  color: #fff !important;
  /* background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90)); */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  border: 7px solid white;
}
.howtobuy .container h2 {
  margin: 0;
  height: 1ch;
  color: #fff;
  font-size: 30px;
  padding: 2%;
}
.howtobuy .container p {
  color: #fff;
  padding: 2%;
  font-size: 20px;
}
.roadmap h2 {
  width: 80%;
  text-align: center;
  position: relative;
  top: 4rem;
  color: #fff;
  text-align: left;
  font-size: 2rem;
  margin: 50px;
}

.roadmap_card div {
  margin-top: 20%;
  color: #fff;
  padding: 10px;
  padding-inline: 40px;
}
.txt p {
  padding: 30px;
  color: #fff;
}
.howtobuy .container .container_ {
  margin-block: 30px;
  width: 100%;
  height: max-content;
  display: flex;
  color: #fff !important;
  background: #3498db;
  /* background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90)); */
  border: solid 7px white;
  border-radius: 10px;
  height: 150px;
}

.contact {
  /* background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90)); */
  padding-block: 50px;
  border-top: solid 10px white;
  color: #fff !important;
  background: #3498db !important;
  background: #3498db !important;
}
.roadmap_card {
  background: #3498db;
  background-image: none;
}
.tkn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tokenomics .container {
  max-width: 69%;
  width: 98%;
  margin: 0 auto;
  padding: 20px 5%;
  background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90));
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid 7px white;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Acme", cursive;
  background: #111;
  color: darkred;
}
@media screen and (max-width: 768px) {
  .tkn {
    display: block;
  }
  .tokenomics .container {
    max-width: 69%;
    width: 98%;
    margin: 0 auto;
    padding: 30px 5% 80px;
    background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid 7px white;
  }
}

.container {
  max-width: 80%;
  margin: 0px auto;
  padding: 50px 5%;
  background: #9a2f12 !important;
  color: #fff !important;
  /* background: linear-gradient(-70deg, rgb(236, 0, 0), rgb(248, 101, 90)); */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  border: 7px solid white;
}
